@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

h1 {
  font-size: 50px;
  font-weight: 900;
  line-height: 64px;
  color: #222;
}
h2 {
  font-size: 46px;
  line-height: 54px;
  font-weight: 900;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
  font-weight: 900;
}

h6 {
  font-weight: 900;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

button.normal {
  width: 10rem;
  height: 4rem;
  font-size: 16px;
  font-weight: 900;
  padding: 15px 30px;
  color: white;
  background-color: black;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.5s;
}
button.white {
  width: 10rem;
  height: 4rem;
  font-size: 20px;
  font-weight: 900;
  padding: 11px 18px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid white;
  outline: none;
  transition: 0.5s;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 1005;
}

/* HEADER START  */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: #e3e6f3;
  box-shadow: 0 5px 15px black;
  z-index: 1000;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#navbar li a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 800;
  color: #1a1a1a;
  transition: 1s ease;
}
#navbar li a:hover,
#navbar li a.active {
  color: #1cc0c0;
}
#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: #1cc0c0;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
#mobile {
  display: none;
  align-items: center;
}
#close {
  display: none;
}
/* homepage */
#hero {
  background-image: url(images/poster\ girl.jpg);
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#hero h4 {
  padding-bottom: 15px;
  text-shadow: 0 0 15px black;
}
#hero h2 {
  text-shadow: 0 0 15px black;
}
#hero h1 {
  color: #1cc0c0;
  text-shadow: 0 0 15px #1cc0c0;
}
#hero button {
  box-shadow: 0 0 15px white;
  cursor: pointer;
  font-weight: 900;
  width: 20rem;
  height: 2rem;
  background-color: white;
  font-size: 1.5rem;
  color: #1cc0c0;
  border: 0;
}
#hero p {
  font-size: 1.5rem;
  font-weight: 900;
}

/* features  */
#features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#features .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  border: 1px solid black;
  box-shadow: 0 0 15px black;
  border-radius: 8px;
  margin: 15px 0;
}
#features .fe-box:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.291);
}
#features .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}
#features .fe-box h6 {
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: white;
  background-color: #ab1f3e;
  display: inline-block;
}
#features .fe-box:nth-child(2) h6 {
  background-color: rgb(34, 201, 34);
  color: white;
}
#features .fe-box:nth-child(3) h6 {
  background-color: rgb(26, 26, 205);
  color: white;
}
#features .fe-box:nth-child(4) h6 {
  background-color: rgb(207, 10, 10);
  color: white;
}
#features .fe-box:nth-child(5) h6 {
  background-color: rgb(213, 149, 20);
  color: white;
}
#features .fe-box:nth-child(6) h6 {
  background-color: rgb(213, 16, 213);
  color: white;
}

/* product details  */
#girl-pro {
  display: none;
}
#pro {
  display: none;
}
#product1 {
  text-align: center;
}
#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border-radius: 25px;
  border: 1px solid #cce7d0;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 1s ease;
  position: relative;
}
#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.148);
}
#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}
#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}
#product1 .pro .des span {
  color: #606063;
  font-size: 12px;
}
#product1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}
#product1 .pro .des i {
  font-size: 10px;
  color: rgb(243, 181, 25);
}
#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}
#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #088178;
  border: 1px solid #cce7cc;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

/* banner section  */
#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(images/banner\ 1.avif);
  width: 100%;
  height: 60vh;
  background-position: center;
  background-size: cover;
}
#banner h4 {
  color: white;
  font-size: 24px;
}
#banner h2 {
  color: #fff;
  font-size: 40px;
  padding: 10px 0;
}
#banner h2 span {
  color: green;
  font-size: 50px;
}
#banner button:hover {
  background-color: #088178;
  color: black;
}

/* multiple banners  */
#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
  background-image: url(images/multiple-banners/b1.jpg);
  min-width: 700px;
  height: 60vh;
  background-position: center;
  background-size: cover;
}
#sm-banner h4 {
  color: black;
  font-size: 35px;
  font-weight: 900;
}
#sm-banner h2 {
  color: black;
  font-size: 50px;
  font-weight: 900;
}
#sm-banner span {
  color: black;
  font-size: 25px;
  font-weight: 900;
  padding-bottom: 15px;
}
#sm-banner .banner-box:hover button {
  background-color: #088178;
  color: black;
  border: 1px solid black;
}
#sm-banner .banner-box2 {
  background-image: url(images/multiple-banners/b2.jpg);
}

/* text baneer  */
#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}

#banner3 .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  background-image: url(images/multiple-banners/b3.jpg);
  min-width: 30%;
  height: 30vh;
  background-position: center;
  background-size: cover;
  margin-bottom: 20px;
  margin-top: 30px;
  border: 1px solid black;
}
#banner3 h2 {
  color: white;
  font-weight: 900;
  font-size: 40px;
  margin-left: 10px;
}
#banner3 h3 {
  color: white;
  font-weight: 900;
  font-size: 24px;
  margin-left: 10px;
}
#banner3 .banner-box3 {
  background-image: url(images/multiple-banners/b4.jpg);
}
#banner3 .banner-box4 {
  background-image: url(images/multiple-banners/b5.jpg);
}

/* newsletter  */
#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: #041e42;
  height: 25vh;
}
#newsletter h4 {
  font-size: 28px;
  font-weight: 900;
  color: #fff;
}
#newsletter p {
  font-size: 20px;
  font-weight: 900;
  color: #088178;
}
#newsletter p span {
  font-size: 20px;
  font-weight: 900;
  color: #ffbd27;
}
#newsletter input {
  height: 4rem;
  padding: 0 2em;
  font-size: 18px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#newsletter button {
  background-color: #088178;
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
#newsletter .form {
  display: flex;
  width: 40%;
}

/* footer section  */
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .col {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}
footer .logo {
  margin-bottom: 30px;
}
footer h4 {
  font-size: 18px;
  padding-bottom: 20px;
}
footer p {
  font-size: 15px;
  margin: 0 0 8px 0;
}
footer a {
  font-size: 15px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}
footer .follow {
  margin-top: 20px;
}
footer .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}
footer .install .row img {
  border: 1px solid #088178;
  border-radius: 6px;
}
footer .install img {
  margin: 10px 0 15px 0;
}
footer .follow i:hover,
footer a:hover {
  color: #09c4b7;
}

.copyright {
  width: 100%;
  height: 2rem;
  background-color: #041e42;
  display: flex;
  align-items: center;
  justify-content: center;
}
.copyright p {
  font-size: 15px;
  color: #fff;
}

/* shop page  */
#page-header {
  background-image: url(images/shop/backgroung.jpg);
  background-position: center;
  background-size: cover;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#page-header h2,
#page-header p {
  font-size: 40px;
  color: #fff;
  font-weight: 900;
  text-shadow: 10px 10px 25px #09ef3f;
}
#page-header:hover {
  font-style: italic;
}

/* pagination  */
#pagination {
  text-align: center;
}
#pagination a {
  text-decoration: none;
  background-color: #088178;
  padding: 15px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: 800;
}
#pagination a:hover {
  background-color: #0fe5d7;
}

/* products details  */
.pro-details {
  display: flex;
  margin-top: 20px;
}
.pro-details .single-pro-image {
  width: 40%;
  margin-right: 50px;
}
.small-image-group {
  display: flex;
  justify-content: space-between;
}
.small-image-col {
  flex-basis: 24%;
  cursor: pointer;
}
.pro-details .single-pro-details {
  width: 50%;
  padding-top: 30px;
}
.pro-details .single-pro-details h4 {
  padding: 40px 0 20px 0;
}
.pro-details .single-pro-details h2 {
  font-size: 26px;
}
.pro-details .single-pro-details select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}
.pro-details .single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}
.pro-details .single-pro-details input:focus {
  outline: none;
}
.pro-details .single-pro-details button {
  height: 47px;
}
.pro-details .single-pro-details span {
  line-height: 28px;
}

/* blog page  */

#page-header.blog-header {
  background-image: url(images/blog/background1.jpg);
}

#blog {
  padding: 150px 150px 0 150px;
}
#blog .blog-box {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}
#blog .blog-img {
  width: 50%;
  margin-right: 40px;
}
#blog img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
#blog .blog-details {
  width: 50%;
}

#blog .blog-details a {
  text-decoration: none;
  font-size: 12px;
  color: black;
  font-weight: 900;
  transition: 0.5s;
}
#blog .blog-details a:hover {
  color: #0bebdc;
}

/* about page  */

#page-header.about-header {
  background-image: url(images/about/1.avif);
}
#about-head {
  display: flex;
  justify-content: space-between;
}

#about-head img {
  width: 50%;
  height: auto;
  /* border: 1px solid black; */
}
#about-head div {
  padding-left: 40px;
}

/* about app  */
#about-app {
  text-align: center;
}
#about-app .video {
  width: 65%;
  height: 100%;
  margin: 30px auto 0 auto;
}
#about-app .video video {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

/* contact  */
#page-header.contact-header {
  background-image: url(images/about/contact.avif);
}
#contact-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#contact-details .details {
  width: 40%;
}
#contact-details .details span,
#form-details form span {
  font-size: 12px;
}
#contact-details .details h2,
#form-details form h2 {
  font-size: 26px;
  line-height: 34px;
  padding: 20px 0;
}
#contact-details .details h3 {
  font-size: 16px;
  padding-bottom: 16px;
}
#contact-details .details li {
  list-style: none;
  display: flex;
  padding: 10px 0;
}
#contact-details .details li i {
  font-size: 14px;
  padding-right: 22px;
}
#contact-details .details li p {
  margin: 0;
  font-size: 14px;
}
#contact-details .map {
  width: 55%;
  height: 400px;
}
#contact-details .map iframe {
  width: 100%;
  height: 1005;
}

/* form details  */
#form-details form {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#form-details form input,
#form-details form textarea {
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
}
#form-details form button {
  background-color: #088178;
  color: #fff;
}
#form-details {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  padding: 80px;
  border: 1px solid #e1e1e1;
  box-shadow: 0 0 15px #e1e1e1;
}

/* cart  */

#page-header.cart-header {
  background-image: url(images/about/cart.avif);
}
#cart{
  overflow-x: auto;
}

#cart table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}
#cart table img {
  width: 70px;
}
#cart table td:nth-child(1) {
  width: 100px;
  text-align: center;
}
#cart table td:nth-child(2) {
  width: 150px;
  text-align: center;
}
#cart table td:nth-child(3) {
  width: 250px;
  text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
  width: 150px;
  text-align: center;
}
#cart table td:nth-child(5) input {
  width: 70px;
  padding: 10px 5px 10px 15px;
}
#cart table thead {
  border: 1px solid #e2e9e1;
  border-left: none;
  border-right: none;
}
#cart table thead td {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0;
}
#cart table tbody tr td {
  padding-top: 18px;
}
#cart table tbody td {
  font-size: 14px;
}
#cart-add {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#coupon {
  width: 50%;
  margin-bottom: 40px;
}

#coupon h3,
#subtotal h3 {
  padding-bottom: 18px;
}

#coupon input {
  padding: 10px 20px;
  outline: none;
  width: 60%;
  margin-right: 10px;
  border: 10px solid #e2e9e1;
}
#coupon button,
#subtotal button {
  font-size: 19px;
  padding: 10px 20px;
  outline: none;
  width: 60%;
  margin-right: 10px;
  border: 10px solid #e2e9e1;
  transition: 1s;
}
#coupon button:hover,
#subtotal button:hover
{
  background-color: #088178;
  color:black;
}
#subtotal{
  width: 50%;
  margin-bottom: 40px;
  border: 10px solid #e2e9e1;
  padding: 30px;
}
#subtotal table{
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
}
#subtotal table td{
  width: 50%;
  border: 1px solid #e2e9e1;
  padding: 12px;
  font-size: 15px;
}


/* media query  */

@media (max-width: 856px) {
  .section-p1 {
    padding: 40px 40px;
  }
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #e3e6f3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.71);
    padding: 80px 0 0 10px;
    transition: 0.5s;
  }
  #navbar.active {
    right: 0;
  }
  #navbar li {
    margin-bottom: 25px;
  }
  #mobile {
    display: flex;
    align-items: center;
  }
  #mobile i {
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
  }
  #close {
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 24px;
  }
  #lg-bag {
    display: none;
  }
  #hero {
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
  }
  #features {
    justify-content: center;
  }
  #features .fe-box {
    margin: 15px 15px;
  }
  #product1 .pro-container {
    justify-content: center;
  }
  #product1 .pro {
    margin: 15px;
  }
  #banner {
    height: 30vh;
  }
  #sm-banner .banner-box {
    min-width: 100%;
    height: 30vh;
  }
  #banner3 {
    padding: 0 40px;
  }
  #banner3 .banner-box {
    width: 28%;
  }
  #banner3 .banner-box h2 {
    font-size: 15px;
  }
  #newsletter {
    height: 30vh;
  }
  #newsletter .form {
    width: 70%;
  }
  #subtotal button{
    width: 100%;
  }
}

@media (max-width: 516px) {
  #banner3 .banner-box h3 {
    font-size: 15px;
  }
  #banner {
    height: 65vh;
  }
}

@media (max-width: 477px) {
  .section-p1 {
    padding: 20px;
  }
  #header {
    padding: 10px 30px;
  }
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 32px;
  }
  #hero {
    padding: 0 20px;
    background-position: 55%;
  }
  #feature {
    justify-content: space-between;
  }
  #feature .fe-box {
    width: 155px;
    margin: 0 0 15px 0;
  }
  #product1 .pro {
    width: 100%;
  }
  #sm-banner .banner-box {
    height: 45vh;
  }
  #sm-banner .banner-box2 {
    margin-top: 20px;
  }
  #banner3 {
    padding: 0 10px;
  }
  #banner3 .banner-box {
    width: 100%;
  }
  #newsletter {
    height: 35vh;
    padding: 40px 20px;
  }
  #newsletter .form {
    width: 100%;
  }

  /* single product  */
  .pro-details {
    display: flex;
    flex-direction: column;
  }
  .pro-details .single-pro-image {
    width: 100%;
    margin-right: 0;
  }
  .pro-details .single-pro-details {
    width: 100%;
  }

  /* blog page  */
  #blog {
    padding: 100px 20px 0 20px;
  }

  #blog .blog-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #blog .blog-img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 40px;
  }
  #blog .blog-details {
    width: 100%;
  }

  /* about page  */
  #about-head {
    flex-direction: column;
  }
  #about-head img {
    width: 100%;
    margin-bottom: 20px;
  }
  #about-head div {
    padding-left: 0;
  }
  #about-app .video {
    width: 100%;
  }
  #about-app .video video {
    width: 100%;
  }

  /* contact  */
  #contact-details {
    display: flex;
    flex-direction: column;
  }
  #contact-details .details {
    width: 100%;
    margin-bottom: 20px;
  }
  #contact-details .map {
    width: 100%;
    margin-bottom: 40px;
  }

  /* form  */
  #form-details form {
    width: 100%;
  }
  #form-details {
    padding: 10px;
  }


  /* cart  */
  #cart-add{
    display: flex;
    flex-direction: column;
  }
  #coupon{
    width: 100%;
  margin-bottom: 20px;
  }
#subtotal{
  width: 100%;
  margin-bottom: 20px;
}
}
